@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700;800;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	max-width: 1440px;
	height: 100vh;
	font-size: 18px;
	font-family: 'Epilogue', sans-serif;
	background-color: hsl(0, 0%, 98%);
}
header{
  width: 100%;
  height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 0 2rem;
}
nav{
	display: flex;
	justify-content: space-between;
	position: relative;
}
.brand{
	padding-right: 3.5rem;
}
nav div ul{
	display: flex;
	list-style: none;
}
.component{
	padding-right: 3rem;
  font-weight: 700;
}
.feature-component{
	padding-right: 3rem;
  font-weight: 700;
}
.company-component{
	padding-right: 3rem;
  font-weight: 700;
}

.features-component-options{
    position: absolute;
    top: 2rem;
    cursor: pointer;
    border-radius: 7px;
    left: 5rem;
    width: 140px;
    height: 20vh;
    box-shadow: 1px 0px 10px -6px rgb(20 2 20);
    background-color: #fff;	
    padding: 16px 0px;
}
.company-component-options{
	position: absolute;
    border-radius: 7px;
    width: 128px;
    height: 18vh;
    top: 2rem;
    left: 16rem;
    box-shadow: 1px 0px 10px -6px rgb(20 2 20);
    background-color: #fff;
    padding: 13px 22px;
    line-height: 1.8rem;
}
nav div.nav-ul-component ul li.feature-component ul.features-component-options li a{
	font-size: 13px;
	cursor: pointer;
	padding: 18px;
	line-height: 25px;
}
nav div.nav-ul-component ul li.company-component ul.company-component-options li a{
   font-size: 15px;
   padding: 2px;
   cursor: pointer;
}
nav div.nav-ul-component ul li.feature-component ul.features-component-options li a img{
	width: 12px;
	margin-right: 14px;
}
nav div.nav-ul-component ul li.feature-component ul.features-component-options{
	display: none;
}
nav div.nav-ul-component ul li.company-component ul.company-component-options{
	display: none;
}
nav div.nav-ul-component ul li.feature-component ul.featureBtn{
	display: block;
}
nav div.nav-ul-component ul li.company-component ul.companyBtn{
	display: block;
}
nav div.nav-ul-component ul li a{
	text-decoration: none;
	font-size: 15px;
	color: hsl(0, 0%, 41%);
}
nav div.nav-ul-component ul li a:hover{
	color: hsl(0, 0%, 8%);
}
nav div.nav-ul-component ul li ul{
	display: block;
}
.login-btn{
  	border: none;
    background-color: hsl(0, 0%, 98%);
    font-size: 14px;
    color: hsl(0, 0%, 41%);
    font-weight: 700;
    padding-right: 2rem;
    cursor: pointer;
}
.login-btn:hover{
	color: hsl(0, 0%, 8%);
}
.reg-btn{
   	width: 115px;
   	cursor: pointer;
    height: 45px;
    border-radius: 14px;
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
    border: 2px solid hsl(0, 0%, 41%);
    font-size: 14px;
    font-weight: 700;
}
.reg-btn:hover{
	color: hsl(0, 0%, 8%); 
	border: 2px solid hsl(0, 0%, 8%);
}
.menu-icon{
  display: none;
}
section.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 6rem;
}
.hero-content{
  width: 60%;
	position: relative;
}
.hero-content h1{
  color: hsl(0, 0%, 8%);
	font-size: 500%;
  line-height: 5rem;
  font-weight: 700;
  padding-left: 4rem;
  padding-top: 7rem;
}
.hero-content p{
	line-height: 27px;
  padding: 3rem 0;
  padding-left: 4rem;
  margin-right: 0rem;
  width: 538px;
  font-size: 1.3rem;
  color: hsl(0, 0%, 41%);
}
.hero-img{
  width: 50%;
	display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img{
  padding-top: 0.5rem;
	width: 90%;
}
#hero-brand{
  display: block;
}
#mobile-hero{
  display: none;
}
.main-btn{
	padding-left: 4rem; 
}
.hero-btn{
   	width: 165px;
    height: 58px;
    border-radius: 14px;
    background: hsl(0, 0%, 8%);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.hero-btn:hover{
	background-color: hsl(0, 0%, 98%);
	color: hsl(0, 0%, 8%);
	border: 1px solid hsl(0, 0%, 8%);
}
.sponsors-container{
	position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
    top: 50rem;
    left: 9rem;
}
#databiz{
    width: 8rem;
    padding-left: 1.7rem;
   }
   #audiophile{
   	width: 6rem;
    align-items: center;
   	padding-left: 1.7rem;
   }
   #meet{
   	width: 8rem;
   	padding-left: 1.7rem;
   }
   #maker{
   	width: 8rem;
   	padding-left: 1.7rem;
   }


@media screen and (max-width: 375px){
  body{
    width: 375px;
    height: 100vh;
    font-size: 14px;
  }
  header{
    padding:0.5rem 0.7rem;
  }
  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-ul-component{
    display: none;
  }
  .menu-icon{
    display: block;
    justify-content: space-between;
  }
  .btn{
    display: none;
  }
  section.hero-section{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  section.hero-content{
    font-size: 4rem;
  }
  #hero-brand{
    display: none;
  }
  #mobile-hero{
    width: 100%;
    display: block;
  }
  .hero-content{
  width: 100%;
  padding: 0 0.5rem;
  }
  .hero-content h1{
    color: hsl(0, 0%, 8%);
    font-size: 36px;
    font-weight: 700;
    padding: 0 0.5rem;
  }
  .hero-content h1 br{
    display: none;
  }
  .hero-content p{
    padding: 0 0.7rem;
    font-size: 1.1rem;
    text-align: center;
    width: 100%; 
  }
  .main-btn{
    padding: 2rem 6.8rem;
  }
  .hero-btn{
    width: 155px;
    height: 50px;
    border-radius: 14px;
    background: hsl(0, 0%, 8%);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .sponsors-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom :0;
  padding-bottom: 2rem;
  left: 0;
  }
  #databiz{
    width: 6rem;
   }
   #audiophile{
    width: 5rem;
    align-items: center;
   }
   #meet{
    width: 6rem;
   }
   #maker{
    width: 6rem;
   }
}

@media screen and (max-width: 425px){
  body{
    width: 425px;
    height: 100vh;
    font-size: 15px;
  }
  header{
    position: relative;
    padding:0.5rem 0.7rem;
  }
  nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-ul-component{
    display: block;
  }
  .nav-ul-component ul{
    width: 270px;
    height: 153vh;
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    bottom: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-icon{
    display: block;
    justify-content: space-between;
  }
  .btn{
    display: none;
  }
  section.hero-section{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
  section.hero-content{
    font-size: 4rem;
  }
  #hero-brand{
    display: none;
  }
  #mobile-hero{
    width: 100%;
    display: block;
  }
  .hero-content{
  width: 100%;
  /*position: relative;*/
  padding: 0 0.5rem;
  }
  .hero-content h1{
    color: hsl(0, 0%, 8%);
    font-size: 41px;
    font-weight: 700;
    padding: 1rem 0.5rem;
  }
  .hero-content h1 br{
    display: none;
  }
  .hero-content p{
    padding: 0 0.3rem;
    font-size: 1.2rem;
    text-align: center;
    width: 100%; 
  }
  .main-btn{
    padding: 2rem 6.8rem;
  }
  .hero-btn{
    width: 155px;
    height: 50px;
    border-radius: 14px;
    background: hsl(0, 0%, 8%);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .sponsors-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding-bottom: 4rem ;
    left: 0;
  }
  #databiz{
    width: 6.5rem;
   }
   #audiophile{
    width: 5.5rem;
    align-items: center;
   }
   #meet{
    width: 6.5rem;
   }
   #maker{
    width: 6.5rem;
   }
}










